<div class="header-container">
  <div class="container header-menu">
    <div class="brand">
      ZADELKHAIR TEST
    </div>
    <div class="header-menu-links">
      <a routerLink="/clients" routerLinkActive="active">clients</a>
      <a routerLink="/client/create" routerLinkActive="active">create</a>
    </div>
  </div>
</div>

<style>
  .header-container {
    background: white;
    border: solid rgb(223, 223, 223);
    border-width: 0 0 1px 0;
  }

  .brand {
    font-size: 30px;
    color: blue;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-menu-links a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-flex;
  }

  .header-menu-links a:hover,
  .header-menu-links a.active {
    background: blue;
    color: white;
  }
</style>
