<div class="card text-left">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title">Categories :</h4>
      <button class="btn btn-success" routerLink="/category/create">create</button>
    </div>
    <div>
      <div class="row mt-4">
        <div *ngFor="let cat of categories" class="col-4">
          <div class="category-obj">
            <div class="item-actions">
              <button class="btn edit-btn" [routerLink]="['/category/'+cat.id]" ><i class="fas fa-edit"></i></button>
              <button class="btn close-btn"><i class="fa fa-window-close"></i></button>
            </div>
            <div>
              <h5 class="m-0 my-4">{{ cat.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .category-obj {
    border-style: dashed;
    border-radius: 5px;
    border-width: 1px;
    padding: 15px 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0px #00000011;
    transition: ease .2s;
    cursor: pointer;
  }

  .category-obj:hover {
    box-shadow: 0 0 10px 0px #00000026;
    transform: scale(1.01);
    z-index: 99;
  }

  .item-actions {
    position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
  }

  .close-btn {
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .close-btn:hover {
    color: red;
  }

  .edit-btn {
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .edit-btn:hover {
    color: blue;
  }

  .category-obj-close-hover{
    box-shadow: 0 0 10px 0px #ff00003d!important;
    transition: ease .2s;
    color: red;
  }

  .category-obj-edit-hover{
    box-shadow: 0 0 10px 0px #1900ff3d!important;
    transition: ease .2s;
    color: blue;
  }
</style>

